:root{
    --primary-text-color: #212121;
    --secundary-text-color: #757575;
    --tertiary-text-color:rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --tertiary-background-color: #f5f4fa;
    --quarty-text-color: #FFFFFF;
    --quarter-background-color:#2196F3; 
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-size: 14px;
}

.list{   
    list-style: none;
}

.link{
    text-decoration: none;
}

.logo-blue{
    font-family: raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.18px;
    letter-spacing: 0.03;
    color:var(--accent-color);
}

.link-blue{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;
    color:var(--accent-color);
    }
    
.one {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.link-header:hover, 
.link-header:focus {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    color: var(--accent-color);
}

.section-button {
    color: var(--quarty-text-color);
    background-color: var(--quarter-background-color);
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #2196F3;
    border-radius: 3px;
}

.container {
    width: 1200px;
    margin:0 auto;
}

.mex {
    color:rgb(255,255,255);
    weight:500;
}

.footer-logo {
    padding-bottom: 9px;
}


.back-ground-section{
        color: rgb(255, 255, 255);
        height:600px;
        background:var(--secondary-background-color);
        padding: 100px;
        text-align: center;
        }
    
.styles-h1-index{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--quarty-text-color);
}



.header-menu-list {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
    width: 270;
    height: 75;
    }


.section h2 {
    display:flex; 
    justify-content: center;
}



.header-link-index {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;        
    color: var(--accent-color);
}

.style-h3-index {
    font-weight: 700;
    font-size: 14px;
    line-height: 1, 14;
    color: var(--primary-text-color);
}


.style-p-index {
    font-weight: 400px;
    font-size: 14px;
    line-height: 1,7;
    color: var(--secundary-text-color);
}

.footer-logo:focus {
    color: var(--accent-color);
}

.footer-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color:var(--quarty-text-color);
}

.tood:hover {
    color: var(--quarter-text-color);
    background-color: var(--quarter-background-color);
    cursor: pointer;
}


.section {
    padding-top: 94px;
}

.tood {
    border-radius: 4px;
    border: 20px;
    cursor: pointer;
    padding: 8px;
    margin: 3px;
}


    
p,h1,h2,h3 {
}


.header-link-index {
    margin: 50px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.link-header {
    margin: 0;
    color: rgba(117, 117, 117, 1);
}

ul{
    list-style:none;
}

footer {
    background: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    height: 252px;
    justify-content: center;
}

.list-two {
list-style-type: none;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
gap: 10px;
justify-content: center;
font-family: 'roboto',sans-serif;
background-color: rgba (245,244,250,1);
padding: 8px;
}

.pond {
    display: flex;
    justify-content: center;
    padding-top: 94px;
}

.button-portafolio:hover,
.button-portafolio:focus,
.button-portafolio:active {
    border-radius: 4px;
    border: 20px;
    cursor: pointer;
    color: #ffffff;
    background-color: #2196F3;
}

.button-portafolio {
    border-radius: 4px;
    border: 20px;
    margin: 3px;
    padding: 8px;
}

.list-three  {
display:flex;
flex-wrap: wrap;
gap: 10px;
padding: 0;
list-style: none;
justify-content: space-evenly;
}

.list-three li{ 
    box-sizing: border-box;
}

.computer {
    height: 300;
    left:calc(50%-370px/2- 400px);
    top: calc(50%- 404px/2- 464px);
    background: var(--quarty-text-color);
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba (0,0,0,0.12),
    0px 4px 4px rgba (0, 0, 0, 0.06);
    1 px 4px 6px rgba (0, 0, 0, 0.16) 
}
